{# On indique hériter du template "base" #}
{% extends "base.html.twig" %}

{# On écrase le contenu du bloc "body" #}
{%  block body %}
    <nav class="navbar has-background-grey-darker is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                <p class="subtitle is-4 has-text-primary">
                    <i class="fab fa-korvue"></i><b>RITIK</b>
                </p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('artist_list') }}">
                    Artistes
                </a>
                <a class="navbar-item" href="{{ path('ranking_news') }}">
                    Nouveautés
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-small" href="#">
                            <strong>Inscription</strong>
                        </a>
                        <a class="button is-light is-small" href="#">
                            Connexion
                        </a>
                    </div>
                </div>

                <a class="navbar-item">
                    <form action="#">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                            </div>

                            <div class="control">
                                <button type="submit" class="button is-primary is-small">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}