<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue{% endblock %} | KRITIK </title>
    {% block css %}
        {# Insérer les balises <link> de l'entrée "app" #}
        {{  encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block js %}
        {# Insérer les balises <script> de l'entrée "app" #}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</body>
</html>